{% extends 'base.html.twig' %}

{% block title %}Nouveau Record{% endblock %}

{% block body %}
    <h2 class="display-4 text-center">{{ titre }} </h2>
    <div class="col-md-6 mx-auto">
     
     {{ form_start(form) }}  
        {{ form_widget(form)}}
        <button class="btn btn-secondary mt-1"> {{ bouton }}</button>
        <a href="{{ path('artist') }}" class="btn btn-danger mt-1"> Annuler</a>
     {{ form_end(form) }}  
    </div>



{% endblock %}