{% extends 'base.html.twig' %}

{% block title %}ARTISTES{% endblock %}

{% block body %}
    <h1 class="display-4 text-center" suppr >Liste des Artistes</h1>
    {# pour accéder aux messages flash, je peux utiliser la variable array : app.flashes
    La variable objet app accessible dans les templates twig, permet d'acceder à des informations
    liés au projet #}
    {% for type, messages in app.flashes %}
    {# equivalent php : foreach($app->flashes as thpe => message) #}
        <div class="alert alert-{{ type }} text-center">
            {% for message in messages %}
                {{ message | raw }}
            {% endfor %}
        </div>
    {% endfor %}


    <a class="btn btn-info mb-1"  href="{{ path('artist_nouveau') }}" ><i class="fa fa-plus"></i>  Ajouter artiste</a>
    <table class="table text-center table-bordered" >
        <thead class="thead-dark text-uppercase">
            <tr>
                <th scope="col" style="width:5%;">ID</th>
                <th scope="col">Name</th>
                <th scope="col" style="width:50%;">description</th>
                <th scope="col" style="width:7%;">Voir</th>
                <th scope="col" style="width:7%;">Edit</th>
                <th scope="col" style="width:7%;">Suppr</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in liste_artistes %}
            <tr>
                <td> {{ artiste.id }} </td>
                <td> {{ artiste.name }} </td>
                <td> {{ artiste.description }} </td>
                <td> <a class="text-primary" href="{{ path('single', {'id':artiste.id}) }}"><i class=" fa fa-eye"></i></a> </td>
                <td> <a class="text-primary" href="{{ path('modifier_artist', {'id':artiste.id}) }}"><i class="fa fa-edit"></i></a> </td>
                <td> <a class="text-danger" onclick="return confirm('Voulez-vous supprimer cet artiste?')" href="/artist/supprimer/{{artiste.id}}"><i class="fa fa-trash"></i></a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# au lieu de mettre directement l'url en dur comme "/artist/ajouter" ici vaut mieux utiliser les nom des routes dispbonible dans bin/console debug:router #}

    
{% endblock %}


