{% extends 'base.html.twig' %}

{% block title %}ARTISTES{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">LISTE DES ARTISTES</h1>
    <a class="btn btn-info mb-1" href="{{ path('artist_nouveau') }}" >Ajouter artiste</a>
    <table class="table text-center table-bordered" >
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width:5%;">ID</th>
                <th scope="col">Name</th>
                <th scope="col" style="width:50%;">description</th>
                <th scope="col" style="width:10%;">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in liste_artistes %}
            <tr>
                <td> {{ artiste.id }} </td>
                <td> {{ artiste.name }} </td>
                <td> {{ artiste.description }} </td>
                <td> <a class="text-danger" href="/artist/supprimer/{{artiste.id}}"><i class="fa fa-trash"></i></a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# au lieu de mettre directement l'url en dur comme "/artist/ajouter" ici vaut mieux utiliser les nom des routes dispbonible dans bin/console debug:router #}
    <form action="{{ path('artist_nouveau') }}" method="POST">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom"  placeholder="Enter nom">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea type="text" name="description" class="form-control" id="description" placeholder="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
    </form>

    
{% endblock %}


